@font-face {
  font-family: 'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PFFusionSansPro Black';
  src: url('/public/fonts/PFFusionSansPro-Black-subset.otf') format('opentype');
  font-display: swap;
}

:root {
  --blue: #05a5bf;
  --blue-transparent: #5fc5f8ce;
  --header-bg-main: #09355399;
  --header-bg-secondary:#5c8a979e;
  --purpule: #cd05ca;
  --black: #000;
  --white:#fff;

  --slide-width: 25vw;

  font-family: 'Helvetica Neue', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #202020;
  font-size: 14px;
  color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  height: fit-content;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
}

.main-page {
  min-height: 100vh;
  background: url('/public/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo {
  width: auto;
  position: relative;

  img {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 20px;
    top: -3px;
    left: -5px;
    height: 46px;
    width: 70px;
    background: #7f1c88;
    background: linear-gradient(90deg, rgba(127, 28, 136, 0.4515056022408963) 2%, rgba(127, 28, 136, 0.8128501400560224) 10%, rgba(127, 28, 136, 0.8660714285714286) 26%, rgba(127, 28, 136, 0.9136904761904762) 44%, rgba(6, 71, 162, 0.8940826330532213) 55%, rgba(14, 77, 128, 0.9360994397759104) 71%, rgba(14, 77, 128, 0.7148109243697479) 91%, rgba(14, 77, 128, 0.34506302521008403) 99%);
    filter: blur(8px)
  }
}

.highlight {
  position: fixed;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);

  img {
    width: var(--slide-width);
    z-index: 1;
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    background-color: var(--blue-transparent);
    filter:blur(20px);
    height: 600px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 132px 88px var(--blue-transparent);
    -moz-box-shadow: 0px 5px 132px 88px  var(--blue-transparent);
    box-shadow: 0px 5px 132px 88px  var(--blue-transparent);
  }

  .arrows {
    position: absolute;
    display: flex;
    top: 60px;
    left: 10px;
    right: 10px;
    justify-content: space-between;
  }
  .arrow {
    max-width: 40px;
    object-fit: contain;
  }
}

.header {
  background-color: var(--header-bg-main);
  border-bottom: 2px solid var(--header-bg-secondary);
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;

  .nav {
    padding: 0 30px;
    padding-top: 3px;
    flex-grow: 1;
    max-width: 1280px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
  }
}

.services {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  min-height: 80px;

  .service {
    font-family: 'PFFusionSansPro Black';
    font-size: 20px;
    text-transform: uppercase;
    min-width: 20vw;
    padding: 15px 8vh;
    display: grid;
    text-align: center;
    place-content: center;
    cursor: pointer;
    position: relative;
    transition: color .5s ease-in-out, opacity .5s ease-in-out;
    opacity: .5;
  }

  .service.active {
    color: var(--black);
    position: relative;
    opacity: 1;
  }

  .service.secondary {
    opacity: 1;
  }

  .service.thirdy {
    opacity: .5;
  }
}

.service-info {
  position: relative;
  min-width: 200px;
  width: calc(var(--slide-width) - 6vw);
  text-align: center;
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.choosen {
  display: flex;
  flex-direction: column;
}

.button-wrap {
  margin: auto;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(to right, var(--purpule), var(--blue));
}

.button {
  color: var(--blue);
  background-color: var(--black);
  font-weight: 600;

  border-radius: 12px;
  padding: 8px 28px;
}

.car-wrapper {
  position: fixed;
  width: 100%;
  top: 54%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;

  img {
    object-fit: contain;
    height: 44vh;
    width: auto;
  }
}

@media screen and (max-height: 800px) {
  .car-wrapper {
    top: 58%;
    left: 48%;

    img {
      height: 40vh;
    }
  }
}

.bottom-wrapper {
  position: fixed;
  bottom: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;

  .info {
    width: 200px;
    font-size: 12px;
    opacity: .6;
    text-align: center;
  }

  .sponsor-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 80px;
  }

  .sponsor img {
    width: 80px;
    height: auto;
  }
}