@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PFFusionSansPro Black';
  src: url('/fonts/PFFusionSansPro-Black-subset.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans';
  src: url('/fonts/Core_Sans_D_25_Light_W01_Rg.otf') format('opentype'),
       url('/fonts/Core_Sans_D_25_Light_W01_Rg.woff') format('woff'),
       url('/fonts/Core_Sans_D_25_Light_W01_Rg.woff2') format('woff2');
  font-display: swap;
}