@import './fonts.css';
@import './main.css';
@import './header.css';

.body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: url('/images/bg-pages.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 46px;
  background-attachment: fixed;
}

.main {
  padding: 0 10px;
}

.main::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(64, 113, 145);
  background: radial-gradient(circle, #77b3ce 0%, var(--blue) 50%, var(--purpule) 75%);
  filter: blur(90px);
  height: 80vh;
  width: 60vw;
  border-radius: 50%;
  z-index: 0;
}

.content-header-border,
.content-wrapper-border {
  padding: 1px;
  background: linear-gradient(to right, var(--purpule), var(--blue));
}

.content-wrapper-border {
  max-width: 850px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 30px;
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
}

.content-wrapper {
  border-radius: 12px;
  flex-grow: 1;
  width: 100%;
  background-color: var(--bg-block);
  height: 100%;
  background-image: url('/images/bg-block.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.content-header-border {
  border-radius: 10px;
  height: 40px;
  margin: 2px;
}

.content-header {
  color: var(--black);
  border-radius: 10px;
  font-weight: 400;
  font-family: 'Core Sans';
  height: 100%;
  text-transform: uppercase;
  background: rgb(106, 190, 253);
  background: url('/images/bg-header.png'), linear-gradient(180deg, rgba(100, 195, 255, 1) 0%, rgba(198, 238, 254, 1) 14%, rgba(198, 238, 254, 1) 24%, rgba(100, 195, 255, 1) 38%, rgba(100, 195, 255, 1) 53%, rgba(198, 238, 254, 1) 68%, rgba(200, 191, 230, 1) 84%, rgba(205, 58, 179, 1) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: 'PFFusionSansPro Black';
}

.service-list-border {
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(to right, var(--purpule), var(--blue));
  height: fit-content;
}

.content-body {
  min-height: 300px;
  margin: 20px;
  display: flex;
  gap: 30px;
}

.service-list {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  width: 272px;

  background: rgb(33, 53, 64);
  background: linear-gradient(90deg, rgba(33, 53, 64, 1) 0%, rgba(34, 39, 43, 1) 24%, rgba(35, 35, 40, 1) 47%, rgba(53, 38, 53, 1) 71%, rgba(61, 12, 85, 1) 100%);
  color: #9f99a0;

  input[type="radio"] {
    display: none;
  }
  
}

.service-item {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.service-item:hover {
  backdrop-filter: brightness(110%);
}

.select-dropdown label {
  cursor: pointer;
}

.service-item.active {
  color: white;
}

.service-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;

  img {
    width: 100%;
    height: auto;
  }

  p,
  ol {
    line-height: 150%;
    font-size: 14px;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li:before {
      content: '⚬'
    }
  }
}

.select-button-border {
  display: none;
}

@media screen and (max-width: 1280px) {
  .body {
    background: url('/images/bg-pages@0,5x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .body {
    background: url('/images/bg-pages-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.content-body {
  flex-direction: column;
}

.select-button-border {
  display: block;
  padding: 1px;
  background: linear-gradient(to right, var(--purpule), var(--blue));
  border-radius: 12px;
}

.select-button {
  border-radius: 12px;
  background: rgb(33, 53, 64);
  background: linear-gradient(90deg, rgba(33, 53, 64, 1) 0%, rgba(34, 39, 43, 1) 24%, rgba(35, 35, 40, 1) 47%, rgba(53, 38, 53, 1) 71%, rgba(61, 12, 85, 1) 100%);
  color: var(--white);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.service-list {
  width: 100%;
}

.arrow-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center; 
  right: 15px;
  display: block;
  transition: transform ease-in-out 0.3s;
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/svg/arrow.svg');
}

.custom-select.active .arrow-down {
  transform: translateY(-50%) rotate(180deg);
}

.custom-select {
  position: relative;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 56px;
}


.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  margin-top: 10px;
  transition: 0.5s ease;

  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

.select-dropdown > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
}
}